
<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variavel</th>
          <th>Pipe</th>
          <th>Saida</th>
        </tr>
      </thead>
      <tbody>

              
        <tr>
          <td>{{name2}}</td>
          <td> captalizado </td>
          <td>{{ name2 | maiusculas }}</td>
        </tr>
         
        <tr>
          <td>{{name}}</td>
          <td> uppercase</td>
          <td>{{name | uppercase}}</td>
        </tr>

        <tr>
          <td>{{name}}</td>
          <td> lowercase</td>
          <td>{{name | lowercase}}</td>
        </tr>

        <tr>
          <td>{{name}}</td>
          <td> slice:3 </td>
          <td>{{ name | slice:3 }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td> number:'3.0-0' </td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td> number:'.0-2' </td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>


        <tr>
          <td>{{ percentage }}</td>
          <td> percent:'2.2-2' </td>
          <td>{{ percentage | percent:'2.2-2' }}</td>
        </tr>


        <tr>
          <td>{{ salario }}</td>
          <td> currency </td>
          <td>{{ salario | currency }}</td>
        </tr>

        <tr>
          <td>{{ salario }}</td>
          <td> currency:'AOA' </td>
          <td>{{ salario | currency:'Kz ':'symbol':'.2-2' }}</td>
        </tr>

        <tr>
          <td>{{ promiseValue }}</td>
          <td> async  </td>
          <td>{{ promiseValue | async }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td> date:'MMMM-dd'  </td>
          <td>{{ date | date:'MMMM - dd' }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>
           date | date:'MMMM - dd':'':'{{ languege }}' 
           <br>
            <button (click)="languege='es'" class="mr-1 btn btn-primary">Espanhol</button>
            <button (click)="languege='en'" class="mr-1 btn btn-secondary">English</button>
            <button (click)="languege='pt'" class="mr-1 btn btn-success">Portugues</button>
          </td>
             <td>{{ date | date: 'MMMM -dd':'':languege }}</td>
        </tr>

      </tbody>
    </table>  
  </div>
</div>

  <h3> Slice <small>slice:1:4</small></h3>
      <hr>
      <ul class="list-group">
          <li *ngFor="let person of people | slice:1:4" class="list-group-item">
            {{ person }}
          </li>
      </ul>

      <h3>Json</h3>
      <div class="row mb-5">
        <div class="col">
           
          <pre>
             {{ heroe | json  }}
          </pre>

        </div>
      </div>


     <h3 class="mt-5">Domseguro</h3>
     <hr>
     
     <div class="row mb-5">
       <div class="col">

       
         <iframe 
            width="560" 
            height="315" 
            [src]="videoUrl | domseguro " 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>

       </div>
     </div>