
<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variavel</th>
          <th>Pipe</th>
          <th>Saida</th>
        </tr>
      </thead>
      <tbody>
         
        <tr>
          <td>{{name}}</td>
          <td> uppercase</td>
          <td>{{name | uppercase}}</td>
        </tr>

        <tr>
          <td>{{name}}</td>
          <td> lowercase</td>
          <td>{{name | lowercase}}</td>
        </tr>

        <tr>
          <td>{{name}}</td>
          <td> slice:3 </td>
          <td>{{ name | slice:3 }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td> number:'3.0-0' </td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ PI }}</td>
          <td> number:'.0-2' </td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>


        <tr>
          <td>{{ percetagem }}</td>
          <td> percent </td>
          <td>{{ percetagem | percent:'2.2-2' }}</td>
        </tr>


      </tbody>
    </table>  
  </div>
</div>